<div class="columns small-centered small-12">
	<script>

	function blendColors(c0, c1, p) {
    var f=parseInt(c0.slice(1),16),t=parseInt(c1.slice(1),16),R1=f>>16,G1=f>>8&0x00FF,B1=f&0x0000FF,R2=t>>16,G2=t>>8&0x00FF,B2=t&0x0000FF;
    return "#"+(0x1000000+(Math.round((R2-R1)*p)+R1)*0x10000+(Math.round((G2-G1)*p)+G1)*0x100+(Math.round((B2-B1)*p)+B1)).toString(16).slice(1);
	}

	var graph = new Springy.Graph();

	<% @nodes.each_with_index do |n, i| %>
		var <%= n.name.downcase.split.join %> = graph.newNode({label: "<%= n.name %>"});
	<% end %>

	<% @edges.each do |i| %>
		graph.newEdge(<%= i[1] %>, <%= i[2] %>, {color: blendColors("#254A27","#10C91C", <%= i[0]/@max %>), weight: 2, label: "<%= sprintf('%.2f', i[0] * 1000) %> mBTC"});
	<% end %>

	jQuery(function(){
	  var springy = window.springy = jQuery('#springydemo').springy({
	    graph: graph,
	    nodeSelected: function(node){
	      console.log('Node selected: ' + JSON.stringify(node.data));
	    }
	  });
	});
	</script>

	<canvas id="springydemo" width="700px" height="500px" />
</div>