<div class="row">
	<div class="columns small-12 medium-6 large-3">
		<ul class="vcard">
			<li class="vcard-heading">BTC Balance</li>
			<li class="label success round"><%= sprintf('%.2f m', @current_balance_btc*1000.0) %><i class="fa fa-btc"></i></li>
		</ul>
	</div>
	<div class="columns small-12 medium-6 large-3">
		<ul class="vcard">
			<li class="vcard-heading">USD Balance</li>
			<li class="label success round">$<%= sprintf('%.2f', @current_balance_usd) %></li>
		</ul>
	</div>
	<div class="columns small-12 medium-6 large-3">
		<ul class="vcard">
			<li class="vcard-heading">Buy Price</li>
			<li class="label success round"><%= @current_buy_price %></li>
		</ul>
	</div>
	<div class="columns small-12 medium-6 large-3">
		<ul class="vcard">
			<li class="vcard-heading">Sell Price</li>
			<li class="label success round"><%= @current_sell_price %></li>
		</ul>
	</div>
</div>

<%= form_tag dashboard_transact_path, id: 'transfer_form', class: 'row' %>
  <%= hidden_field_tag 'exchange_rate', @exchange_rate %>
  <%= hidden_field_tag 'fee_amount', (@send_money[:fee_amount] rescue 0) %>
  <%= hidden_field_tag 'currency', "USD" %>

  <div class="columns small-12"><h4>Send Money</h4></div>

	<% if @members.count != 0 %>

  <div class="form-group columns small-12 medium-6 large-3">
    <div class="row collapse">
      <div class="small-2 columns">
        <span class="prefix">To:</span>
      </div>
      <div class="small-10 columns">
    		<%= select_tag 'recipient', options_from_collection_for_select(@members, "email", "email"), placeholder: 'Recipient Username', class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group columns small-12 medium-6 large-3">
    <div class="row collapse">
    	<div class="columns small-1"><span class="prefix">$</span></div>
      <div class="columns small-4">
        <%= text_field_tag 'amount_usd', '', placeholder: 'USD', class: 'form-control prefix' %>
      </div>
      <div class="columns small-2">
      	<span class="postfix prefix"><i class="fa fa-arrows-h"></i></span>
      </div>
      <div class="columns small-4">
        <%= text_field_tag 'amount_btc', '', placeholder: 'BTC', class: 'form-control postfix' %>
      </div><!-- /input-group -->
    	<div class="columns small-1"><span class="postfix"><i class="fa fa-btc"></i></span></div>
    </div><!-- /input-group -->
  </div>

  <div class="form-group columns small-12 medium-6 large-3">
    <div class="row collapse">
      <div class="small-4 columns">
        <span class="prefix">Message:</span>
      </div>
      <div class="small-8 columns">
		    <div class="input-group">
		      <%= text_field_tag 'message', '', placeholder: 'A kind word or two', class: 'form-control' %>
		    </div>
	    </div>
    </div>
  </div>

	<div class="form-group columns small-12 medium-6 large-3">
  	<%= submit_tag 'Send Money', class: 'button postfix' %>
  </div>
	<% else %>
		<p>No other members in group to send to!</p>
  <% end %>
</form>

<div class="row">
  <div class="columns large-12">
    <h4>Group Transaction History</h4>
  </div>
</div>
